@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
@import url("./App.css");
:root {
  --font-primary: "Nanum Pen Script", cursive;
  --color-primary: #7ac4ae;
  --color-secondary: #c6bfd8;
  --color-red: #f0826f;
  --color-light-grey: #eee;
  --color-grey: #bbb;
}

* {
  font-family: var(--font-primary);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--color-secondary);
  min-height: 100vh;
}
